main {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .container {
    background-color: #264452;
    padding: 2rem;
    margin: 6vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    top: 50vh;
    margin-top: 10vh;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1.75);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1.75);
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
  }
  
  .logo1 {
    max-width: 150px;
    margin: 0;
  }
  
  h2 {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  #txtt {
    margin-left: 0.6vw;
    color: #34637a;
  }
  .brand {
    display: flex;
    justify-content: center;
    color: #1d3541;
  }
  #txt1 {
    color: #1b8fc3;
    margin-left: 0px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #ffffff;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1rem;
    display: block;
  }
  
  input,
  select {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-size: 1rem;
  }
  select {
    width: 100%;
  }
  
  .citizenship-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  
  .citizenship-container input {
    width: 92%;
  }
  
  @media (max-width: 600px) {
    .citizenship-container {
      flex-direction: column;
    }
  
    .citizenship-container label,
    .citizenship-container input {
      margin: 5px 0;
    }
  }
  
  button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #264452;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  .links {
    margin-top: 1rem;
  }
  
  .links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  @media (max-width: 864px) {
    .container {
      width: 100vw;
    }
  }
  @media (max-width: 517px) {
    body {
      height: 190vh;
    }
    .container {
      width: 175vh;
      margin-bottom: 20vh;
    }
    h2 {
      font-size: 1.2rem;
    }
    label {
      font-size: 0.9rem;
    }
    .logo {
      max-width: 100px;
    }
  
    .links a {
      font-size: 0.9rem;
    }
    input {
      height: 1rem;
    }
    #profile-picture {
      font-size: 1rem;
    }
  }
  @media (max-width: 469px) {
    .container {
      margin-top: 10vh;
      width: 150vw;
    }
    h2 {
      font-size: 0.8rem;
    }
    label {
      font-size: 0.8rem;
    }
    .logo {
      max-width: 70px;
    }
  
    .links a {
      font-size: 0.8rem;
    }
    input {
      height: 0.8rem;
    }
    #profile-picture,
    #citizenship-front,
    #citizenship-back {
      font-size: 0.8rem;
    }
  }